#Principal .card-body .row{
    margin-bottom: 10px;    
}
.imgProduto{
    width: 100%; 
    height: 100%;
    display:flex;
}
.colimgProduto{
    border-style: dashed;
    border-width: 1px;
    border-color: rgb(59, 117, 156);

}
.select2{
    color:black;
}
.input-group-append .fas{
    color:black;
}